html {
	font-family: Tahoma; font-size: 62.5%;
}
html {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
span {
	margin: 0px; padding: 0px;
}
applet {
	margin: 0px; padding: 0px;
}
object {
	margin: 0px; padding: 0px;
}
iframe {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
a {
	margin: 0px; padding: 0px;
}
abbr {
	margin: 0px; padding: 0px;
}
acronym {
	margin: 0px; padding: 0px;
}
address {
	margin: 0px; padding: 0px;
}
big {
	margin: 0px; padding: 0px;
}
cite {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
del {
	margin: 0px; padding: 0px;
}
dfn {
	margin: 0px; padding: 0px;
}
em {
	margin: 0px; padding: 0px;
}
img {
	margin: 0px; padding: 0px;
}
ins {
	margin: 0px; padding: 0px;
}
kbd {
	margin: 0px; padding: 0px;
}
q {
	margin: 0px; padding: 0px;
}
s {
	margin: 0px; padding: 0px;
}
samp {
	margin: 0px; padding: 0px;
}
small {
	margin: 0px; padding: 0px;
}
strike {
	margin: 0px; padding: 0px;
}
strong {
	margin: 0px; padding: 0px;
}
sub {
	margin: 0px; padding: 0px;
}
sup {
	margin: 0px; padding: 0px;
}
tt {
	margin: 0px; padding: 0px;
}
var {
	margin: 0px; padding: 0px;
}
b {
	margin: 0px; padding: 0px;
}
u {
	margin: 0px; padding: 0px;
}
i {
	margin: 0px; padding: 0px;
}
center {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
label {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
table {
	margin: 0px; padding: 0px;
}
caption {
	margin: 0px; padding: 0px;
}
tbody {
	margin: 0px; padding: 0px;
}
tfoot {
	margin: 0px; padding: 0px;
}
thead {
	margin: 0px; padding: 0px;
}
tr {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
article {
	margin: 0px; padding: 0px;
}
aside {
	margin: 0px; padding: 0px;
}
canvas {
	margin: 0px; padding: 0px;
}
details {
	margin: 0px; padding: 0px;
}
figcaption {
	margin: 0px; padding: 0px;
}
figure {
	margin: 0px; padding: 0px;
}
footer {
	margin: 0px; padding: 0px;
}
header {
	margin: 0px; padding: 0px;
}
hgroup {
	margin: 0px; padding: 0px;
}
menu {
	margin: 0px; padding: 0px;
}
nav {
	margin: 0px; padding: 0px;
}
section {
	margin: 0px; padding: 0px;
}
summary {
	margin: 0px; padding: 0px;
}
time {
	margin: 0px; padding: 0px;
}
mark {
	margin: 0px; padding: 0px;
}
audio {
	margin: 0px; padding: 0px;
}
video {
	margin: 0px; padding: 0px;
}
body {
	line-height: 1.333; font-size: 1.2rem;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
input {
	font-family: inherit; font-size: 12px; font-weight: normal;
}
textarea {
	font-family: inherit; font-size: 12px; font-weight: normal;
}
select {
	font-family: inherit; font-size: 12px; font-weight: normal;
}
button {
	font-family: inherit; font-size: 12px; font-weight: normal;
}
input[type='button'] {
	cursor: pointer;
}
input[type='submit'] {
	cursor: pointer;
}
select {
	cursor: pointer;
}
button {
	cursor: pointer;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
em {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
li {
	list-style: none;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
abbr {
	border: 0px currentColor; font-variant: normal;
}
acronym {
	border: 0px currentColor; font-variant: normal;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
fieldset {
	border-width: 0px;
}
img {
	border-width: 0px;
}
a img {
	border-width: 0px;
}
iframe {
	border-width: 0px;
}
iframe {
	overflow: hidden;
}
img {
	-ms-interpolation-mode: bicubic;
}
textarea {
	-ms-overflow-y: auto; resize: vertical;
}
legend {
	color: rgb(0, 0, 0);
}
a {
	text-decoration: none;
}
hr {
	height: 0px;
}
label {
	cursor: pointer;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
.os_mac {
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";
}
.ui_icon {
	display: inline-block; -ms-zoom: 1;
}
.ui_sep_line {
	margin: 0px 10px; color: rgb(136, 136, 136);
}
.icon_qzone_logo {
	width: 251px; height: 98px; background-image: url("img/qzone-login-logo.32.png"); _background-image: url(img/qzone-login-logo.ie6.png);
}
.icon_qq {
	background-position: 0px -43px; width: 28px; height: 28px; background-image: url("sprite/qzonelogin-jan151123113651.png");
}
.icon_iphone {
	background-position: 0px -73px; width: 28px; height: 28px; background-image: url("sprite/qzonelogin-jan151123113651.png");
}
.icon_ipad {
	background-position: 0px -103px; width: 28px; height: 28px; background-image: url("sprite/qzonelogin-jan151123113651.png");
}
.icon_android {
	background-position: -30px -43px; width: 28px; height: 28px; background-image: url("sprite/qzonelogin-jan151123113651.png");
}
.icon_other {
	background-position: -30px -73px; width: 28px; height: 28px; background-image: url("sprite/qzonelogin-jan151123113651.png");
}
.icon_windowsphone {
	background-position: -30px -103px; width: 28px; height: 28px; background-image: url("sprite/qzonelogin-jan151123113651.png");
}
.ui_hide {
	visibility: hidden;
}
.ui_btn {
	border: 0px currentColor; overflow: hidden; background-color: transparent;
}
.btn_login {
	background-position: 0px 0px; width: 118px; height: 41px; background-image: url("sprite/qzonelogin-jan151123113651.png");
}
.ui_textinput {
	padding: 12px 10px; border-radius: 3px; border: 1px solid rgb(203, 203, 203); width: 243px; height: 18px; color: rgb(51, 51, 51); line-height: 18px; overflow: hidden; font-family: "Arial"; font-size: 16px; vertical-align: top; background-color: rgb(255, 255, 255);
}
.ui_textinput_S {
	width: 100px;
}
.ui_textinput {
	transition-property: border-color, box-shadow; transition-duration: 0.3s, 0.3s; transition-timing-function: linear; -webkit-transition-property: border-color, box-shadow; -webkit-transition-duration: .3s, .3s; -webkit-transition-timing-function: linear; -moz-transition-property: border-color, box-shadow; -moz-transition-duration: .3s, .3s; -moz-transition-timing-function: linear;
}
.ui_textinput_focus {
	border-color: rgb(86, 189, 243); outline: 0px; box-shadow: 0px 0px 5px rgba(84,189,242,0.6), inset 0px 1px 3px rgba(0,0,0,0.2);
}
.ui_textinput:focus {
	border-color: rgb(86, 189, 243); outline: 0px; box-shadow: 0px 0px 5px rgba(84,189,242,0.6), inset 0px 1px 3px rgba(0,0,0,0.2);
}
.clearfix {
	-ms-zoom: 1;
}
.clearfix::after {
	height: 0px; line-height: 0; overflow: hidden; clear: both; display: block; content: ".";
}
html {
	margin: 0px; padding: 0px; height: 100%; overflow: hidden;
}
body {
	background: rgb(136, 136, 136); margin: 0px; padding: 0px; height: 100%; overflow: hidden; font-family: "Microsoft Yahei";
}
.lay_wrap {
	height: 100%; color: rgb(75, 74, 74); position: relative; z-index: 2; min-height: 600px;
}
.lay_wrap a {
	color: rgb(75, 74, 74);
}
.lay_wrap a:hover {
	text-decoration: underline;
}
.lay_wrap .lay_inner {
	margin: 0px auto; width: 750px; position: relative;
}
.lay_wrap .lay_main {
	top: 10%; width: 100%; color: rgb(75, 74, 74); position: absolute;
}
.lay_wrap .lay_main a {
	color: rgb(75, 74, 74);
}
.lay_wrap .lay_main .login_head a {
	color: rgb(75, 74, 74);
}
.lay_wrap .lay_main .login_head a:focus {
	outline: 0px; border: 0px currentColor;
}
.lay_wrap .lay_main .login_head .ad-logo {
	width: 188px; height: 50px; margin-left: 24px;
}
.lay_wrap .lay_main .login_wrap {
	width: 265px; right: 0px; position: absolute;
}
.lay_wrap .lay_main .login_wrap .login_option {
	
}
.lay_wrap .lay_main .login_wrap .option_item {
	overflow: hidden; margin-bottom: 18px; -ms-zoom: 1;
}
.lay_wrap .lay_main .login_wrap .option_item a {
	margin-right: 10px; float: left;
}
.lay_wrap .lay_main .login_wrap .option_item .ui_sep_line {
	margin-left: 0px; float: left;
}
.lay_wrap .lay_main .login_wrap .login_fast {
	margin-bottom: 7px;
}
.lay_wrap .lay_main .login_form .form_item {
	margin-bottom: 19px; position: relative;
}
.lay_wrap .lay_main .login_form .form_item .ui_placeholder {
	padding: 12px 10px; left: 2px; top: 0px; height: 18px; color: rgb(151, 151, 151); line-height: 18px; font-size: 16px; position: absolute; cursor: text;
}
.lay_wrap .lay_main .login_form .form_item_error {
	background: rgb(255, 253, 229); padding: 3px 10px; border: 1px solid rgb(252, 239, 183); color: rgb(244, 140, 18); line-height: 20px; margin-bottom: 10px;
}
.lay_wrap .lay_main .login_form .form_item_error a {
	color: rgb(75, 74, 74);
}
.lay_wrap .lay_main .login_form .form_item_code {
	padding-bottom: 15px;
}
.lay_wrap .lay_main .login_form .item_code_wrap {
	width: 130px; height: 44px; margin-left: 10px; vertical-align: top; display: inline-block; position: relative;
}
.lay_wrap .lay_main .login_form .item_code_wrap .code_img {
	width: 130px; height: 44px; vertical-align: top;
}
.lay_wrap .lay_main .login_form .item_code_wrap .code_refresh {
	left: 0px; height: 20px; bottom: -25px; line-height: 20px; position: absolute;
}
.lay_wrap .lay_foot {
	left: 0px; width: 100%; bottom: 5%; position: absolute; z-index: 2;
}
.lay_wrap .lay_foot .login_device {
	margin: 0px auto 20px; text-align: center;
}
.lay_wrap .lay_foot .login_device::after {
	height: 0px; line-height: 0; overflow: hidden; clear: both; display: block; content: ".";
}
.lay_wrap .lay_foot .login_device li {
	margin: 0px 5px; width: 60px; text-align: center; vertical-align: top; display: inline-block; -ms-zoom: 1;
}
.lay_wrap .lay_foot .login_device li.ui_line {
	margin: 10px 25px; width: 1px; height: 21px; background-color: rgba(255, 255, 255, 0.4);
}
.lay_wrap .lay_foot .login_device li a {
	transition:0.3s; top: 0px; text-decoration: none; display: block; position: relative; z-index: 10; -webkit-transition: all .3s;
}
.lay_wrap .lay_foot .login_device li a:hover {
	top: -10px;
}
.lay_wrap .lay_foot .login_device li .ui_icon {
	vertical-align: top;
}
.lay_wrap .lay_foot .login_device li span {
	padding-top: 5px; display: block;
}
.lay_wrap .lay_foot .copyright {
	text-align: center;
}
.lay_wrap .lay_foot .copyright p {
	line-height: 22px;
}
.lay_wrap .lay_foot .author-info {
	right: 50px; bottom: 3px; position: absolute;
}
.lay_wrap .lay_foot .author-info .author-title {
	margin-right: 10px;
}
.lay_wrap .lay_foot .author-info .author-name {
	cursor: pointer;
}
.lay_background {
	left: 0px; top: 0px; overflow: hidden; position: absolute; z-index: 0;
}
.lay_background .lay_background_img {
	left: 0px; top: 0px; position: absolute; z-index: -1;
}
.lay_background .lay_background_img {
	transition:opacity 0.8s; opacity: 0; -webkit-transition: opacity .8s ease; -moz-transition: opacity .8s ease;
}
.lay_background .lay_background_img_fade_out {
	opacity: 1;
}
.mode_dark .icon_qzone_logo {
	background-image: url("img/qzone-login-logo-dark.32.png"); _background-image: url(img/qzone-login-logo-dark.ie6png);
}
.mode_dark .ui_sep_line {
	color: rgb(238, 238, 238);
}
.mode_dark .lay_wrap .lay_main {
	color: rgb(255, 255, 255);
}
.mode_dark .lay_wrap .lay_main a {
	color: rgb(255, 255, 255);
}
.mode_dark_footer .icon_qq {
	background-position: -60px -43px; width: 28px; height: 28px; background-image: url("sprite/qzonelogin-jan151123113651.png");
}
.mode_dark_footer .icon_iphone {
	background-position: -60px -73px; width: 28px; height: 28px; background-image: url("sprite/qzonelogin-jan151123113651.png");
}
.mode_dark_footer .icon_ipad {
	background-position: -60px -103px; width: 28px; height: 28px; background-image: url("sprite/qzonelogin-jan151123113651.png");
}
.mode_dark_footer .icon_android {
	background-position: -90px -43px; width: 28px; height: 28px; background-image: url("sprite/qzonelogin-jan151123113651.png");
}
.mode_dark_footer .icon_other {
	background-position: -90px -73px; width: 28px; height: 28px; background-image: url("sprite/qzonelogin-jan151123113651.png");
}
.mode_dark_footer .icon_windowsphone {
	background-position: -90px -103px; width: 28px; height: 28px; background-image: url("sprite/qzonelogin-jan151123113651.png");
}
.mode_dark_footer .lay_foot {
	color: rgb(255, 255, 255);
}
.mode_dark_footer .lay_foot a {
	color: rgb(255, 255, 255);
}
.qrlogin {
	padding-bottom: 15px;
}
.qrlogin #qrlogin_step1 .qrlogin_bg {
	background: url("img/code/bg_code_step1.png") no-repeat left 8px; height: 111px; padding-bottom: 10px; padding-left: 190px;
}
.qrlogin #qrlogin_step2 {
	background: url("img/code/bg_code_step2.png") no-repeat left top; height: 130px;
}
.qrlogin #qrlogin_step3 {
	position: relative;
}
.qrlogin #qr_card {
	left: 0px !important; top: 0px !important; height: 100px !important; position: relative !important;
}
.qrlogin .qr_card .qr_card_content {
	padding-top: 10px; padding-left: 90px; position: relative; -ms-zoom: 1; min-height: 80px;
}
.qrlogin .qr_card .qr_head {
	border-radius: 5px; border: 2px solid rgb(255, 255, 255); left: 0px; top: 0px; width: 75px; height: 75px; position: absolute;
}
.qrlogin .qr_card .qr_nick {
	
}
.qrlogin .qr_card .qr_uin {
	
}
.qrlogin .qr_card .qr_feeds {
	left: 90px; top: 35px; position: absolute;
}
.qrlogin .qr_login_tips .qr_login_tips_logo {
	width: 16px; height: 16px; display: inline-block; -ms-zoom: 1; background-image: url("img/code/icon_ok.png");
}
.qrlogin .qr_login_tips .qr_login_tips_wording {
	color: rgb(95, 183, 10); font-weight: bold;
}
.lay_wrap_v2 {
	
}
.lay_wrap_v2 .lay_main {
	top: 95px;
}
.ad-login .lay_main {
	top: 84px;
}
.lay_wrap_v2 .lay_inner {
	width: 880px;
}
.ad-login .lay_inner {
	width: 992px;
}
.ad-login .lay_inner .login_head {
	margin-bottom: 34px;
}
.ad-login .icon_qzone_logo {
	width: 180px; height: 50px; background-image: url("img/qzone-ad-login-logo.32.png"); _background-image: url(img/qzone-ad-login-logo.ie6.png);
}
.mode_dark .ad-login .icon_qzone_logo {
	background-image: url("img/qzone-ad-login-logo-dark.32.png"); _background-image: url(img/qzone-ad-login-logo-dark.ie6.png);
}
.lay_wrap_v2 .lay_main .login_wrap {
	border-radius: 4px; top: 100px; width: 418px; height: auto; overflow: hidden; -ms-zoom: 1; box-shadow: 2px 2px rgba(0,0,0,0.1); background-color: rgb(255, 255, 255);
}
.ad-login .ad-wrap {
	position: relative; z-index: 3;
}
.ad-wrap .ad-area {
	position: relative;
}
.ad-wrap .ad-area img {
	width: 570px; height: 320px; display: block;
}
.ad-login .lay_main .login_wrap {
	top: 0px;
}
.ad-wrap .ad-area {
	width: 570px; height: 320px;
}
.ad-wrap .ad-area .ad-txt {
	left: 10px; width: 30px; height: 20px; text-align: center; bottom: 10px; color: rgb(255, 255, 255); line-height: 20px; position: absolute; background-color: rgba(0, 0, 0, 0.4);
}
.dark-ad .ad-area .ad-txt {
	color: rgb(255, 255, 255);
}
.ad-wrap .ad-area .check-more {
	border-radius: 99px 0px 0px 99px; width: 116px; height: 48px; right: 0px; bottom: 14px; color: rgb(255, 255, 255); line-height: 48px; text-decoration: none; display: block; position: absolute; background-color: rgba(0, 0, 0, 0.5);
}
.ad-wrap .ad-area .check-more b {
	width: 14px; height: 22px; display: inline-block;
}
@media not all
{
.icon_qzone_logo {
	background-image: url("img/qzone-login-logo.32@2x.png");
}
.mode_dark .icon_qzone_logo {
	background-image: url("img/qzone-login-logo-dark.32@2x.png");
}
.ad-login .icon_qzone_logo {
	background-image: url("img/qzone-ad-login-logo.32@2x.png");
}
.mode_dark .ad-login .icon_qzone_logo {
	background-image: url("img/qzone-ad-login-logo-dark.32@2x.png");
}
}
@media not all, only screen and (min-resolution:120dpi), not all
{
.icon_qzone_logo {
	background-image: url("img/qzone-login-logo.32@2x.png"); background-size: 251px 98px;
}
.icon_qq {
	background-position: 0px 0px; background-image: url("sprite/qzonelogin-jan151123113651@2x.png"); background-size: 358px 28px;
}
.icon_iphone {
	background-position: -30px 0px; background-image: url("sprite/qzonelogin-jan151123113651@2x.png"); background-size: 358px 28px;
}
.icon_ipad {
	background-position: -60px 0px; background-image: url("sprite/qzonelogin-jan151123113651@2x.png"); background-size: 358px 28px;
}
.icon_android {
	background-position: -90px 0px; background-image: url("sprite/qzonelogin-jan151123113651@2x.png"); background-size: 358px 28px;
}
.icon_other {
	background-position: -120px 0px; background-image: url("sprite/qzonelogin-jan151123113651@2x.png"); background-size: 358px 28px;
}
.icon_windowsphone {
	background-position: -150px 0px; background-image: url("sprite/qzonelogin-jan151123113651@2x.png"); background-size: 358px 28px;
}
.mode_dark .icon_qzone_logo {
	background-image: url("img/qzone-login-logo-dark.32@2x.png"); background-size: 251px 98px;
}
.mode_dark_footer .icon_qq {
	background-position: -180px 0px; background-image: url("sprite/qzonelogin-jan151123113651@2x.png"); background-size: 358px 28px;
}
.mode_dark_footer .icon_iphone {
	background-position: -210px 0px; background-image: url("sprite/qzonelogin-jan151123113651@2x.png"); background-size: 358px 28px;
}
.mode_dark_footer .icon_ipad {
	background-position: -240px 0px; background-image: url("sprite/qzonelogin-jan151123113651@2x.png"); background-size: 358px 28px;
}
.mode_dark_footer .icon_android {
	background-position: -270px 0px; background-image: url("sprite/qzonelogin-jan151123113651@2x.png"); background-size: 358px 28px;
}
.mode_dark_footer .icon_other {
	background-position: -300px 0px; background-image: url("sprite/qzonelogin-jan151123113651@2x.png"); background-size: 358px 28px;
}
.mode_dark_footer .icon_windowsphone {
	background-position: -330px 0px; background-image: url("sprite/qzonelogin-jan151123113651@2x.png"); background-size: 358px 28px;
}
.ad-login .icon_qzone_logo {
	background-image: url("img/qzone-ad-login-logo.32@2x.png"); background-size: 180px 50px;
}
.mode_dark .ad-login .icon_qzone_logo {
	background-image: url("img/qzone-ad-login-logo-dark.32@2x.png"); background-size: 180px 50px;
}
}
#CssGaga {
	content: "151201111438,jan,334";
}
